
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="false">
    <div class="container-fluid px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-1 px-0 me-sm-6 me-12">
            <li class="breadcrumb-item"><a class="opacity-8 text-dark" href="javascript:;">Tender Hack</a></li>
            <li class="breadcrumb-item text-dark active" aria-current="page">
              {% if 'index' in segment %} Панель {% elif 'tables' in segment %} Закупки {% elif 'team' in segment %} Команда {% elif 'how' in segment %} Как это рабоатет? {% else %} Анализ {% endif %}
            </li>
          </ol>
        </nav>
        <div class="collapse navbar-collapse me-md-0 me-4" id="navbar">
          <ul class="navbar-nav mb-2 mb-sm-0 ms-sm-auto justify-content-sm-end">
            <li class="nav-item d-xl-none ps-4 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
            <li class="nav-item px-4 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0">
                <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
              </a>
            </li>
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" >
                <div style="position: relative; width: 16px; height: 16px" aria-expanded="false">
                  <i class="fa fa-bell cursor-pointer" style="z-index: 90; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>
                  <div id="notification_dot" style="width: 8px; height: 8px; background: red; z-index: 100; position: absolute; top: -2px; right: 0px; border-radius: 10px"></div>
                </div>
              </a>
              <ul class="dropdown-menu px-2 py-3 ms-sm-n4" aria-labelledby="dropdownMenuButton">
                {% for notification in notifications %}
                  <li class="mb-2">
                    <a class="dropdown-item border-radius-md" href="/analysis/{{profile.company.id}}">
                      <div class="d-flex py-1">
                        <div class="avatar avatar-sm bg-gradient-secondary  me-3  my-auto">
                          <i class="ni ni-email-83 text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="text-sm font-weight-normal mb-1">
                            <span class="font-weight-bold">{{ notification.title }}</span>
                          </h6>
                          <div class="text-xs text-secondary" style="width: 200px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis">{{ notification.name }}</div>
                          <p class="text-xs text-secondary mb-0">
                            <i class="fa fa-clock me-1"></i>
                            {{ notification.delta }} дней назад
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
        <div class="ms-md-auto ps-md-3 d-flex align-items-center">
          <div class="bg-white border-radius-lg d-flex">
            <input type="text" class="form-control border-0 ps-3" placeholder="Введите...">
            <button class="btn bg-gradient-primary my-1 me-1">Поиск</button>
          </div>
        </div>
    </div>
  </nav>



<!--  <style>-->

<!--    a[id="dropdownMenuButton"]::after {-->
<!--      content: "•";-->
<!--      font-weight: 900;-->
<!--      font-size: 24px;-->
<!--      color: red;-->
<!--      border-radius: 10px;-->
<!--      width: 8px;-->
<!--      height: 8px;-->
<!--      position: absolute;-->
<!--      left: 8px;-->
<!--      top: -14px;-->
<!--      z-index: 100;-->
<!--    }-->
<!--    a[class="nav-link text-body p-0 show"]::after {-->
<!--      opacity: 0;-->
<!--      content: "•";-->
<!--      font-weight: 900;-->
<!--      font-size: 24px;-->
<!--      color: red;-->
<!--      border-radius: 10px;-->
<!--      width: 8px;-->
<!--      height: 8px;-->
<!--      position: absolute;-->
<!--      left: 8px;-->
<!--      top: -14px;-->
<!--      z-index: 100;-->
<!--    }-->

<!--  </style>-->

  <script>

    window.addEventListener('load', function () {
        notificationBell = document.getElementById("dropdownMenuButton")

        console.log(notificationBell)

        notificationBell.onmousedown = function() {
          document.getElementById("notification_dot").style.opacity = 0
        }

        function keyAction(e){
            console.log("pressed")
            notificationBell.style.opacity = 0
        }

    })



  </script>