
  <!--   Core JS Files   -->
  <script src="/static/assets/js/core/popper.min.js"></script>
  <script src="/static/assets/js/core/bootstrap.min.js"></script>
  <script src="/static/assets/js/plugins/smooth-scrollbar.min.js"></script>

  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="https://appsrv1-147a1.kxcdn.com/soft-ui-dashboard/js/soft-ui-dashboard.js?v=1.0.0"></script>

  <script src="https://appsrv1-147a1.kxcdn.com/soft-ui-dashboard-pro/js/plugins/dragula/dragula.min.js"></script>
  <script src="https://appsrv1-147a1.kxcdn.com/soft-ui-dashboard-pro/js/plugins/jkanban/jkanban.js"></script>
  <script src="https://appsrv1-147a1.kxcdn.com/soft-ui-dashboard-pro/js/plugins/choices.min.js"></script>
  <script src="https://appsrv1-147a1.kxcdn.com/soft-ui-dashboard-pro/js/plugins/datatables.js"></script>

  <script>
    const dataTableBasic = new simpleDatatables.DataTable("#datatable-basic", {
      searchable: false,
      fixedHeight: true
    });

    const dataTableSearch = new simpleDatatables.DataTable("#datatable-search", {
      searchable: true,
      fixedHeight: true
    });
  </script>

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

  <script async="" defer="" src="https://buttons.github.io/buttons.js"></script>

  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
