{% extends 'layouts/base.html' %}

{% load mathfilters %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
      <div class="card card-body blur shadow-blur">
        <div class="row gx-4">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
              {% if profile.companyProfile.logo %}
                <img src="{{ profile.companyProfile.logo}}" alt="..." class="w-100 border-radius-lg shadow-sm">
              {% else %}
                <img src="https://zakupki.mos.ru/cms/Media/CompanyProfile/Images/logo_dummy.svg" alt="..." class="w-100 border-radius-lg shadow-sm">
              {% endif %}
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
                {{ profile.company.name }}
              </h5>
              <p class="mb-0 font-weight-bold text-sm">
                {{ profile.company.factAddress }}
              </p>
              <p class="mb-0 font-weight-bold text-sm">
                ИНН: {{ profile.company.inn }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-7">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Потрачено</p>
                    <h5 class="font-weight-bolder">{{total_spent}} ₽</h5>
                    {% if spent_last_month >= 0 %}
                      <span class="text-success text-sm font-weight-bolder">+ {{spent_last_month_display}} ₽</span>
                    {% else %}
                      <span class="text-warning text-sm font-weight-bolder">- {{spent_last_month|abs}} ₽</span>
                    {% endif %}
                    <span class="text-sm"></span>
                  </div>
                </div>
                <div class="col-5 text-end my-auto">
                  <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                    <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-7">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Сэкономлено<br> </p>
                    <h5 class="font-weight-bolder">{{saved_last_month_display}} ₽</h5>
                    {% if saved_price >= 0 %}
                      <span class="text-success text-sm font-weight-bolder">+ {{saved_price_display}} ₽</span>
                    {% else %}
                      <span class="text-warning text-sm font-weight-bolder">- {{saved_price_display}} ₽</span>
                    {% endif %}
                  </div>
                </div>
                <div class="col-5 text-end my-auto">
                  <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                    <i class="ni ni-credit-card text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4" onclick="location.href='/tables/{{profile.company.id}}';" style="cursor: pointer;">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-7">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Активные закупки</p>
                    <h5 class="font-weight-bolder">{{purchases_active.count}}</h5>
                    На
                    <span class="text-success text-sm font-weight-bolder">{{purchases_active.price_display}} ₽</span>
                    <span class="text-sm"></span>
                  </div>
                </div>
                <div class="col-5 text-end my-auto">
                  <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                    <i class="ni ni-watch-time text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6" onclick="location.href='/tables/{{profile.company.id}}';" style="cursor: pointer;">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-7">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Закупок</p>
                    <h5 class="font-weight-bolder">{{total_purchases}}</h5>
                    <span class="text-success text-sm font-weight-bolder">+ {{purchases_last_month}}</span>
                    <span class="text-sm">за месяц</span>
                  </div>
                </div>
                <div class="col-5 text-end my-auto">
                  <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                    <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-5 mb-lg-0 mb-4">
          <div class="card">
            <div class="card-body p-3">

              <div class="bg-gradient-dark border-radius-lg py-3 pe-1 mb-3">
                <div class="chart">
                  <canvas id="chart-bars" class="chart-canvas" height="170px"></canvas>
                </div>
              </div>
              <h6 class="ms-2 mt-4 mb-0"> Достижения </h6>
              <div class="container border-radius-lg">
                <div class="row">
                  {% for achievement, values in achievements.items %}
                      <div class="col-xl-3">
                        <i data-html="true" data-bs-toggle="tooltip" data-bs-placement="top" title=""  data-bs-original-title="{{values.items|join:", &#013;&#010;"}}" aria-label="{{values.items|join:", &#013;&#010;"}}">
                        {% if values.unlocked %}
                        <img src="https://zakupki.mos.ru/cms/Media/CompanyProfile/Achievements/{{ achievement }}.svg" height="72px" style="opacity: 1.0">
                        {% else %}
                        <img src="https://zakupki.mos.ru/cms/Media/CompanyProfile/Achievements/{{ achievement }}.svg" height="72px" style="opacity: 0.5">
                        {% endif %}
                      </i>
                      </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 mb-lg-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <h6>Сравнение начальной и конечной цены</h6>
              <p class="text-sm">
                {% if start_end_price_difference >= 0 %}
                  <i class="fa fa-arrow-up text-success"></i>
                {% else %}
                  <i class="fa fa-arrow-down text-warning"></i>
                {% endif %}
                <span class="font-weight-bold">{{start_end_price_difference}}% </span> прошлого месяца
              </p>
            </div>
            <div class="card-body p-3">
              <div class="chart">
                <canvas id="chart-line" class="chart-canvas" height="300px"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6 col-7">
                  <h6>Последние 5 закупок</h6>
                  <p class="text-sm mb-0">
                    <i class="fa fa-check text-info" aria-hidden="true"></i>
                    <span class="font-weight-bold ms-1">{{purchases_last_month}}</span> за этот месяц
                  </p>
                </div>
                <div class="col-lg-6 col-5 my-auto text-end">
                  <div class="dropdown float-lg-end pe-4">
                    <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-secondary"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Название</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Предложений</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Бюджет</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Текущая цена</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Статус</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in purchases_display %}
                        <tr>
                          <td>
                              <a href="https://zakupki.mos.ru/auction/{{item.auctionId}}">
                                <div class="d-flex px-2 py-1" >
                                  <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm" style="width: 300px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis">{{ item.name }}</h6>
                                  </div>
                                </div>
                              </a>
                          </td>
                          <td class="align-middle text-center">
                            {% if item.offerCount %}
                              <span class="text-xs font-weight-bold"> {{ item.offerCount }} </span>
                            {% else %}
                              <span class="text-xs font-weight-bold"> - </span>
                            {% endif %}
                          </td>
                          <td class="align-middle text-center text-sm">
                            <span class="text-xs font-weight-bold"> {{ item.startPrice }}  ₽</span>
                          </td>
                          <td class="align-middle text-center text-sm">
                            {% if item.auctionCurrentPrice %}
                              <span class="text-xs font-weight-bold"> {{ item.auctionCurrentPrice }}  ₽</span>
                            {% else %}
                              <span class="text-xs font-weight-bold"> - </span>
                            {% endif %}
                          </td>
                          <td class="align-middle text-center">
                            {% if item.stateName == 'Активная' %}
                              <h6><span class="badge bg-gradient-secondary text-xxs">Активная</span></h6>
                            {% elif item.stateName == 'Не состоялась'%}
                              <h6><span class="badge bg-gradient-danger text-xxs">Не состоялась</span></h6>
                            {% else %}
                              <h6><span class="badge bg-gradient-success text-xxs">Проведена</span></h6>
                            {% endif %}
                          </td>
                          </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="card-body text-center">
                  <button class="btn bg-gradient-primary mb-0" onclick="location.href='/tables/{{profile.company.id}}';" style="cursor: pointer;">Все закупки</button>
                </div>
            </div>
          </div>
        </div>

      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/js/plugins/chartjs.min.js"></script>
  <script src="/static/assets/js/plugins/Chart.extension.js"></script>
  <script>
    var ctx = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: {{ months|safe }},
        datasets: [{
          label: "Закупок",
          tension: 0.4,
          borderWidth: 0,
          pointRadius: 0,
          backgroundColor: "#fff",
          data: {{ purchase_stats_count }},
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          display: false,
        },
        tooltips: {
          enabled: true,
          mode: "index",
          intersect: false,
        },
        scales: {
          yAxes: [{
            gridLines: {
              display: false,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: {{ purchase_stats_count_max }},
              beginAtZero: true,
              padding: 0,
              fontSize: 14,
              lineHeight: 3,
              fontColor: "#fff",
              fontStyle: 'normal',
              fontFamily: "Open Sans",
            },
          }, ],
          xAxes: [{
            gridLines: {
              display: false,
            },
            ticks: {
              display: false,
              padding: 20,
            },
          }, ],
        },
      },
    });

    var ctx2 = document.getElementById("chart-line").getContext("2d");

    var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

    var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors


    new Chart(ctx2, {
      type: "line",
      data: {
        labels: {{ months|safe }},
        datasets: [{
            label: "Начальная цена",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#cb0c9f",
            borderWidth: 3,
            backgroundColor: gradientStroke1,
            data: {{ purchase_stats_start_price }},
            maxBarThickness: 6
          },
          {
            label: "Конечная цена",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#3A416F",
            borderWidth: 3,
            backgroundColor: gradientStroke2,
            data: {{ purchase_stats_end_price }},
            maxBarThickness: 6

          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          display: false,
        },
        tooltips: {
          enabled: true,
          mode: "index",
          intersect: false,
        },
        scales: {
          yAxes: [{
            gridLines: {
              borderDash: [2],
              borderDashOffset: [2],
              color: '#dee2e6',
              zeroLineColor: '#dee2e6',
              zeroLineWidth: 1,
              zeroLineBorderDash: [2],
              drawBorder: false,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 10,
              fontSize: 11,
              fontColor: '#adb5bd',
              lineHeight: 3,
              fontStyle: 'normal',
              fontFamily: "Open Sans",
            },
          }, ],
          xAxes: [{
            gridLines: {
              zeroLineColor: 'rgba(0,0,0,0)',
              display: false,
            },
            ticks: {
              padding: 10,
              fontSize: 11,
              fontColor: '#adb5bd',
              lineHeight: 3,
              fontStyle: 'normal',
              fontFamily: "Open Sans",
            },
          }, ],
        },
      },
    });
  </script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

{% endblock javascripts %}
